.loader-container {
  position: relative;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader div {
  position: absolute;
  width: 16px;
  height: 16px;
  background: linear-gradient(
    30deg,
    rgba(255, 231, 13, 1) 0%,
    rgb(33, 191, 96) 50%,
    rgba(255, 231, 13, 1) 100%
  );
  border-radius: 50%;
  animation: loader-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: -0.24s;
}

.loader div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.12s;
}

.loader div:nth-child(3) {
  top: 32px;
  left: 8px;
  animation-delay: 0;
}

.loader div:nth-child(4) {
  top: 32px;
  left: 32px;
  animation-delay: -0.36s;
}

@keyframes loader-animation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
