.third-section-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .text {
    max-width: 450px;
  }
  .wrapper-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .links-wrapper {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .wow-img {
    opacity: 0;
    transform: translateX(-100%); /* DA SINISTRA */
    transition: all 0.9s ease-out;
  }

  .wow-img.visible {
    opacity: 1;
    transform: translateX(0);
  }

  @media (max-width: 989px) {
    .links-wrapper {
      justify-content: center;
    }
  }
}
