.second-section-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  .text {
    max-width: 450px;
  }

  .text-wrapper {
    gap: 15px;
  }
}
