.second-section-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  .text {
    max-width: 450px;
  }

  .text-wrapper {
    gap: 15px;
  }
  .wow-img {
    opacity: 0;
    transform: translateX(+100%);
    transition: all 0.9s ease-out;
  }

  .wow-img.visible {
    opacity: 1;
    transform: translateX(0);
  }
}
