.message-box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  text-align: center;
}

.message-box.success {
  background-color: rgb(33, 191, 96);
  color: white;
}

.message-box.error {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}
