.message-box {
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  max-width: 90%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.message-box.success {
  background-color: rgb(33, 191, 96);
  color: white;
}

.message-box.error {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}
