.form-section {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;

  .wow-img {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.9s ease-out;
  }

  .wow-img.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .text {
    max-width: 450px;
    text-align: center;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .success-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .avatar-pina {
      height: 200px;
    }
  }

  .avatar-pina {
    height: 200px;
  }

  input[type="text"] {
    width: 300px;
    max-width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 231, 13, 0.8);
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #212121;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      border-color: rgb(33, 191, 96);
      outline: none;
      box-shadow: 0 0 5px rgba(33, 191, 96, 0.5);
    }
  }

  input[type="checkbox"] {
    margin-right: 10px;
    accent-color: rgb(33, 191, 96);

    &:checked {
      accent-color: rgb(33, 191, 96);
      color: red;
    }
  }

  button:not(.cta) {
    padding: 10px 20px;
    background-color: rgb(33, 191, 96);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(33, 191, 96, 0.8);
    }

    &:disabled {
      background-color: rgba(255, 231, 13, 0.5);
      cursor: not-allowed;
    }
  }
}
