@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffe70d;
  background: linear-gradient(
    30deg,
    rgba(255, 231, 13, 1) 0%,
    rgb(33, 191, 96) 50%,
    rgba(255, 231, 13, 1) 100%
  );
  color: white;

  width: 100%;
  min-height: 100dvh;
}

.section {
  position: relative;
  height: 100dvh;
  padding: 30px 15px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avatar-pina {
  max-width: 100%;
  height: 300px;
}

.title {
  font-size: 40px;
  font-weight: 600;
}

.subtitle {
  font-size: 30px;
  font-weight: 600;
}

.text {
  font-size: 24px;
  font-weight: 400;
}

.link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.cta {
  padding: 10px;
  border: 1px solid rgba(255, 231, 13, 0.8);
  border-radius: 5px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  width: fit-content;
  &:hover {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(255, 231, 13, 0.5);
  }

  &:active {
    background: rgba(255, 255, 255, 0.6);
  }

  input {
    cursor: pointer;
  }
}

.link:has(.fa-arrow-down) {
  font-size: 48px;
  color: rgba(255, 231, 13, 0.9);
  margin-top: 20px;
  animation: bounce 2s infinite;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -10px);
  }
  60% {
    transform: translate(-50%, -5px);
  }
}

@media (max-width: 989px) {
  body {
    padding: 0 10px;
  }

  .section {
    padding: 15px 10px;
    gap: 20px !important;
    flex-direction: column !important;
    // height: auto;
  }

  .text-wrapper {
    gap: 15px;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 24px;
  }

  .text {
    font-size: 18px;
  }

  .avatar-pina {
    height: 200px;
  }

  .link {
    font-size: 16px;
  }

  // .fa-arrow-down {
  //   display: none;
  // }
}
